.container {
    display: grid;
    width: 1280px;
    height: 800px;
}

.search-bar {
    display: flex;
    background-color: #d0d5f9;
    height: 8vh;
    align-items: center;
}

.dict-name {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #35428e;
    padding-left: 7em;
    cursor: pointer;
}

.input-bar {
    padding-left: 10em;
}

.form-control {
    width: 60vh;
    line-height: 4vh;
    border-radius: 5px;
    font-size: 17px;
}

#other-words, #word-info {
    border: None;
    width: 95%;
    height: 600px;
    padding-left: 2.5%;
    padding-top: 2.4%;
}

#word-info {
    display: grid;
}

#word-list {
    border: None;
    padding-left: 2.5%;
}

#icon-button {
    border: None;
    background-color: #d0d5f9;
    cursor: pointer;
}

#other-words-button {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: auto;
    background-color: #d0d5f9;
    color: #35428e;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

